body,div,figure{
	margin: 0px;
}

.container{
	padding: 20px;
	margin: 20px;
	background-color: #eee;
	border: solid 1px #999;
	overflow: auto;
}

figure{
	width: 200px;
	padding: 20px;
	float: left;
	border: solid 1px #999;
}

figure>img{
	width: 80px;
	height: 80px;
}

figcaption{
	float: right;
	font-weight: bold;
}

aside{
	float: right;
	background-color: #fff;
	width: 80px;
	padding: 20px;
	border: solid 1px #999;
}

aside img{
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}

aside img:last-child{
	margin-bottom: 0px;
}

.content{
	height: 300px;
	margin-left: 262px;
	margin-right: 142px;
	background-color: #fff;
	border: solid 1px #999;
}

